<!DOCTYPE html>
<html lang="es">
<title>Kylina jewels</title>
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>

		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
			<!-- /Header -->
			<!-- product detail -->
			<main class="product-detail">
				<div class="product-header">
					<h1 class="product-title"><%= producto.name %></h1>
					<img src="<%= producto.Image %>" alt="<%= producto.name %>" class="product-image">
				</div>
				<div class="product-info">
					<p class="product-description"><strong>Descripción:</strong> <%= producto.descripcion %></p>
				</div>
				<div class="product-comments">
					<h2 class="comments-title">Comentarios</h2>
					<ul class="comments-list">
						<% for (let i = 0; i < producto.comentarios.length; i++) { %>
							<li class="comentarioDetail">
								<img src="<%= producto.comentarios[i].imagenPerfil %>" alt="Foto de <%= producto.comentarios[i].usuario %>" class="comentario-img">
								<div class="comentario-content">
									<strong class="comentario-usuario"><%= producto.comentarios[i].usuario %></strong>
									<p class="comentario-texto"><%= producto.comentarios[i].texto %></p>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</main>
			
			<!-- /product detail -->

			<!-- footer -->
			<%- include('./partials/footer') %>
			<!-- /footer -->

	</body>

</html>