<!DOCTYPE html>
<html lang="es">
<title>Kylina jewels</title>
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>

		<!-- Header -->
		<%- include('./partials/header') %>
			<!-- /Header -->
			<!-- product detail -->
			<main>
				<h1><%= producto.name %></h1>
				<img src="<%= producto.Image %>" alt="<%= producto.name %>" width="300">
				<p><strong>Descripción:</strong> <%= producto.descripcion %></p>
			
				<h2>Comentarios</h2>
				<ul>
					<% for (let i = 0; i < producto.comentarios.length; i++) { %>
						<div class="comentario">
						  <img src="<%= producto.comentarios[i].imagenPerfil %>" alt="Foto de <%= producto.comentarios[i].usuario %>" class="comentario-img">
						  <strong><%= producto.comentarios[i].usuario %></strong>
						  <p><%= producto.comentarios[i].texto %></p>
						</div>
					  <% } %>
				</ul>
			</main>
			
			<!-- /product detail -->

			<!-- footer -->
			<%- include('./partials/footer') %>
			<!-- /footer -->

	</body>

</html>