<!DOCTYPE html>
<html lang="es">
<title>Kylina jewels</title>
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<h1 class="resultados ">Resultados de búsqueda</h1>

					<% if (message) { %>
						<p>
							<%= message %>
						</p>
						<% } else { %>
							<ul>
								<% products.forEach(function(product) { %> 
									<li>
										<a href="/products/<%= product._id %>">
											<%= product.name %>
										</a> -
										Publicado por: <a href="/users/<%= product.user._id %>">
											<%= product.user.name %>
										</a>
									</li>
								<% }); %>
							</ul>
							<% } %>

								<!-- Show the "ultimos" products -->
								<h2 class="col-12"> <i>
										//resultados de busqueda
								</h2>

								<!-- footer -->
								<%- include('./partials/footer') %>

	</body>

</html>